<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-title>
        Apostas
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./campeonato' class="button option-button" color="success">
    <img src="https://cdn1.iconfinder.com/data/icons/education-1-42/48/33-256.png" height="20" style="margin-right: 10px;" />
    Campeonato
  </ion-button>

  <ion-button routerLink='./time' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    Time
  </ion-button>

  <ion-button routerLink='./jogador' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/2522/2522086.png" height="20" style="margin-right: 10px;" />
    Jogador
  </ion-button>
</ion-content>