<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button routerLink='../home' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title size="large" style="margin-left:40px">
        Tipos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./moba' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/2738/2738081.png" height="20" style="margin-right: 10px;" />
    MOBA
  </ion-button>

  <ion-button routerLink='./fps' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/18/18554.png" height="20" style="margin-right: 10px;" />
    FPS
  </ion-button>

  <ion-button routerLink='./esportes' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/55/55243.png" height="20" style="margin-right: 10px;" />
    Esportes
  </ion-button>

  <ion-button routerLink='./luta' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/3076/3076848.png" height="20" style="margin-right: 10px;" />
    Luta
  </ion-button>
</ion-content>