<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button routerLink='../home' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title size="large" style="margin-left:40px">
        Equipes
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./fanatic' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    Fanatic
  </ion-button>

  <ion-button routerLink='./pain-games' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    Pain Games
  </ion-button>

  <ion-button routerLink='./evil-genius' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    Evil Genius
  </ion-button>

  <ion-button routerLink='./og' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    OG
  </ion-button>
</ion-content>