<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-title>
        Equipes
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./fanatic' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    Fnatic
  </ion-button>

  <ion-button routerLink='./pain-games' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    Pain Games
  </ion-button>

  <ion-button routerLink='./evil-genius' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    Evil Geniuses
  </ion-button>

  <ion-button routerLink='./og' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/634/634013.png" height="20" style="margin-right: 10px;" />
    OG
  </ion-button>
</ion-content>