<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-button routerLink='../../tipos' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title>
        FPS
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./csgo' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/18/18554.png" height="20" style="margin-right: 10px;" />
    CS Go
  </ion-button>

  <ion-button routerLink='./r6' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/18/18554.png" height="20" style="margin-right: 10px;" />
    R6
  </ion-button>
</ion-content>

