<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-button routerLink='../../campeonatos' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title>
        Nacional
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/985/985331.png" height="20" style="margin-right: 10px;" />
    Brasileiro
  </ion-button>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/985/985331.png" height="20" style="margin-right: 10px;" />
    Estaduais
  </ion-button>
</ion-content>