<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button routerLink='../../fps' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-button routerLink='../../../home' class="button" color="transparent" style="position:relative;right:20px">
        <img src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png" height="20" />
      </ion-button>

      <ion-title size="large" style="margin-left:80px">
        CSGO
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://midias.jb.com.br/_midias/jpg/2021/03/11/csgo-586394.jpg" style="display:flex;
           border-radius:40px;
           padding: 20px;
           align-self:center;" />
</ion-content>