<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-button routerLink='../../campeonatos' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title>
        Internacional
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;" />
    África
  </ion-button>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;" />
    América do Norte
  </ion-button>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;" />
    América do Sul
  </ion-button>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;" />
    América Central
  </ion-button>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;" />
    Ásia
  </ion-button>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;" />
    Oceania
  </ion-button>

  <ion-button routerLink='./nacional' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;" />
    Europa
  </ion-button>

</ion-content>