<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-title size="Default">
        Campeonatos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button
      routerLink='./nacional' class="button option-button" color="success"
  >
    <img 
      src="https://cdn-icons-png.flaticon.com/512/985/985331.png" height="20" style="margin-right: 10px;"
    />
    Nacional
  </ion-button>

  <ion-button
      routerLink='./internacional' class="button option-button" color="success"
  >
    <img 
      src="https://cdn-icons-png.flaticon.com/512/52/52349.png" height="20" style="margin-right: 10px;"
    />
    Internacional
  </ion-button>
</ion-content>
