<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button
      routerLink='../home'
      class="button"
      color="transparent"
      >
        <img 
          src="https://cdn-icons-png.flaticon.com/512/709/709624.png"
          height="20"
        />
      </ion-button>

      <ion-title 
        size="large"
        style="margin-left:40px"
      >
        Campeonatos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button
      routerLink='./nacional'
      class="button"
      color="success"
  >
    <img 
      src="https://cdn-icons-png.flaticon.com/512/985/985331.png"
      height="20"
      style="margin-right: 10px;"
    />
    Nacional
  </ion-button>

  <ion-button
      routerLink='./internacional'
      class="button"
      color="success"
  >
    <img 
      src="https://cdn-icons-png.flaticon.com/512/52/52349.png"
      height="20"
      style="margin-right: 10px;"
    />
    Internacional
  </ion-button>
</ion-content>
