<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-button routerLink='../../tipos' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title>
        MOBA
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./dota' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/2738/2738081.png" height="20" style="margin-right: 10px;" />
    DOTA
  </ion-button>

  <ion-button routerLink='./lol' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/2738/2738081.png" height="20" style="margin-right: 10px;" />
    LOL
  </ion-button>
</ion-content>
