<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-button routerLink='../../tipos' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title>
        Esportes
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./fifa' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/55/55243.png" height="20" style="margin-right: 10px;" />
    FIFA
  </ion-button>

  <ion-button routerLink='./nba' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/55/55243.png" height="20" style="margin-right: 10px;" />
    NBA
  </ion-button>

  <ion-button routerLink='./f1' class="button option-button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/55/55243.png" height="20" style="margin-right: 10px;" />
    F1
  </ion-button>
</ion-content>
