<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button routerLink='../../tipos' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-title size="large" style="margin-left:40px">
        Luta
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='./street-fighter' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/3076/3076848.png" height="20" style="margin-right: 10px;" />
    Street Fighter
  </ion-button>

  <ion-button routerLink='./mortal-kombat' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/3076/3076848.png" height="20" style="margin-right: 10px;" />
    Mortal Kombat
  </ion-button>

  <ion-button routerLink='./injustice' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/3076/3076848.png" height="20" style="margin-right: 10px;" />
    Injustice
  </ion-button>

  <ion-button routerLink='./pokemon-go' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/3076/3076848.png" height="20" style="margin-right: 10px;" />
    Pokemon GO
  </ion-button>
</ion-content>