<ion-content>
  <ion-header collapse="condense" style="margin-top:40px">
    <ion-toolbar>
      <ion-button routerLink='../../luta' class="button" color="transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709624.png" height="20" />
      </ion-button>

      <ion-button routerLink='../../../tipos' class="button" color="transparent" style="position:relative;right:20px">
        <img src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png" height="20" />
      </ion-button>

      <ion-title>
        Pokemon GO
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="../../../../../../../assets/tipos/pokemonGo.jpg" style="display:flex;
           border-radius:40px;
           padding: 20px;
           align-self:center;" />
</ion-content>
