<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">E-Sports</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink='../campeonatos' class="button" color="success">
    <img src="https://cdn1.iconfinder.com/data/icons/education-1-42/48/33-256.png" height="20"
      style="margin-right: 10px;" />
    Campeonatos
  </ion-button>

  <ion-button routerLink='../equipes' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/4292/4292633.png" height="20" style="margin-right: 10px;" />
    Equipes
  </ion-button>

  <ion-button routerLink='../tipos' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/75/75524.png" height="20" style="margin-right: 10px;" />
    Tipos
  </ion-button>

  <ion-button routerLink='../apostas' class="button" color="success">
    <img src="https://cdn-icons-png.flaticon.com/512/3037/3037150.png" height="20" style="margin-right: 10px;" />
    Apostas
  </ion-button>
</ion-content>