<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">E-Sports</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="campeonatos">
        <img src="https://cdn1.iconfinder.com/data/icons/education-1-42/48/33-256.png" height="20"/>
        Campeonatos
      </ion-tab-button>
      <ion-tab-button tab="equipes">
        <img src="https://cdn-icons-png.flaticon.com/512/4292/4292633.png" height="20"/>
        Equipes
      </ion-tab-button>
      <ion-tab-button tab="tipos">
        <img src="https://cdn-icons-png.flaticon.com/512/75/75524.png" height="20"/>
        Tipos
      </ion-tab-button>
      <ion-tab-button tab="apostas">
        <img src="https://cdn-icons-png.flaticon.com/512/3037/3037150.png" height="20"/>
        Apostas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>